h1{
    text-align: center;
}
.check{
    margin-bottom: 100px;
}
.price-d{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 5px auto;
    border: 2px black dotted;
    padding-bottom: 20px;
    
}
.price-d .price-group{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.check-out{
    background-color: blue;
    color:white;
    padding: 5px 0;
    width: 80%;
    border: none;
    outline: none;
    margin: auto;
    border-radius: 5px;
}

@media (max-width:650px) {
    .price-d{
        width: 90%;
    }

}